img {
    display: block;
    width: 100%;
    cursor: zoom-in;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.gallery {
    padding: 24px 156px;
    display: flex;
    flex-wrap: wrap;
    gap: 24px;

}

.gallery-item {
    flex-basis: calc((100% - 48px) / 3);
    transition: transform 250ms ease-in;

}

.gallery-item:hover {
    transform: scale(1.05);

}